html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background-color: rgb(240, 240, 240);

}
#calendar-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 2.5em 1fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: inherit;
}
#prevm{
    cursor: pointer;
    background-image: url(/images/arrow_back.svg);
    background-size: cover;
    background-color: rgb(240, 240, 240);
    width: 5em;
    height: 5em;
    margin-left: 12em;
    margin-top: 2em;
    margin-bottom: 5em;
    border: none;
    
}
#nextm{
    cursor: pointer;
    background-image: url(/images/arrow_back.svg);
    transform: rotate(180deg);
    background-size: cover;
    background-color: rgb(240, 240, 240);
    width: 5em;
    height: 5em;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-right: 12em;
    border: none;
    float: right;
}
.nd{
    display: none;
}
.kalender_cont{
    margin-top: 2em;
    border-radius: 2em;
    border: 0.4em solid rgba(77, 112, 174, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#kalender{
    border-spacing: 0.3em;
    font-size: 1.3em;
    border-collapse:separate;
    width: 100%;

}
#kalender td {
    text-align: center;
    color: rgb(71, 71, 71);
    padding: 1vw;
}
#kalender td.tag:hover {
    background-color: rgba(77, 113, 174, 0.814);
}
.tag{
    font-size: 0.8em;
    background-color: rgb(250, 250, 250);
    border-radius: 0.2em;

}
#kalender th { 
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}
#kalender tr{
    text-align: center;
    font-size: 1.3em;
    color: rgb(71, 71, 71);
}
/* Wochenende grün färben 
 td:nth-of-type(6),td:nth-of-type(7) {
    background: #ebf5d7;
    color: #666;
  }
*/
  caption {
    color: rgb(71, 71, 71);
    font-size: 2.2em;
    font-weight: bold;
  } 
  #kalender td.aktuell {
    font-weight: bold;
    background-color: rgba(77, 113, 174, 0.814);
    color: white;

  }
.b2{
    cursor: pointer;
    padding: 30px 30px;
    left: 0;
    top: 0;
    display: inline-block;
    position: fixed;
}
#t2{
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
#calendar-wrapper header {
    grid-row: 1/2;
    font-size: 2em;
    box-sizing: inherit;
}

#calendar-wrapper header h4 {
    padding: 0;
    margin: 0;
}

#calendar {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: 3em 1fr;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#calendar #calendar-days,
#calendar #calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 0 1em;
    box-sizing: inherit;
    margin: 0;
}

#calendar #calendar-days {
    justify-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

#calendar #calendar-grid {
    grid-template-rows: repeat(6, 1fr);
    justify-items: flex-start;
    grid-row: 2/-1;
    grid-column: 1/2;
    width: 100%;
}

#calendar #calendar-grid > time {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0.4em;
    padding: 1em 0.2em;
    width: 90%;
    background-color: rgba(108, 108, 108, 0.02);
    border-radius: 3px;
    border: 2px solid transparent;
    transition: box-shadow 200ms, border 100ms;
    box-shadow: 1px 1px rgba(0, 0, 0, 0);
    box-sizing: inherit;
}

#calendar #calendar-grid time.selected,
#calendar #calendar-grid time.selected:focus {
    outline: none;
    border: 2px solid rgba(77, 112, 174, 1);
    box-sizing: inherit;
}

#calendar #calendar-grid time.disabled,
#calendar #calendar-grid time.disabled:focus {
    outline: none;
    border: 2px solid transparent;
    box-sizing: inherit;
    cursor: not-allowed;
    background-color: rgba(30, 39, 51, 0.2);
    box-shadow: 1px 1px rgba(0, 0, 0, 0);

}

#calendar #calendar-grid > *:hover {
    border: 2px solid rgba(72, 72, 72, 0.5);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: inherit;
}

#calendar #navigation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 2/-1;
    grid-column: 2/-1;
    box-sizing: inherit;
    padding: 1em 0 3.5em;
    margin: 0;
}

#calendar #navigation-wrapper button {
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 3em;
    width: 1.6em;    
    box-sizing: inherit;
    padding: 0.1em;
    margin: 0;
}

#calendar #navigation-wrapper button:hover {
    opacity: 0.75;
}


#calendar #navigation-wrapper button svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.6em;
    display: block;
    box-sizing: inherit;
}

#calendar #navigation-wrapper button:first-of-type {
    transform: rotate(180deg);
}

#calendar #navigation-wrapper button[disabled] svg {
    cursor: not-allowed;
    fill: rgba(30, 39, 51, 0.2);
}
#b3{
    cursor: pointer;
    margin-top: 0 em;
    margin-left: 24%;
    margin-right: 4%;
    margin-bottom: 4%;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2.5em;
    border: none;
    width: 52%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
}
#b3:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
    border: 2em;
    width: 54.5%;
    margin-left: 22.5%;
    margin-right: 3%;
    margin-bottom: 4%;

}
