html {
    min-height: 120%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 120%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

h1 {

    text-align: center;
    margin-top: 3vh;
    font-size: 4vw;
}

#header {
    color: rgba(77, 112, 174, 1);
    margin-left: 1em;
}

.scroll {
    top: 0;
    position: sticky;
    background: rgb(240, 240, 240, 0.7);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.back {
    cursor: pointer;
    padding: 30px 30px;
    left: 0;
    top: 0;
    display: inline-block;
    position: fixed;
}

.booking_overview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.overview_table {
    border-collapse: collapse;
    width: 100%;
}

.overview_table tr {
    text-align: center;
    font-size: 1.3em;
    color: rgb(71, 71, 71);
}

.overview_table th {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(77, 112, 174, 1);
    color: white;
}

.overview_table th, .overview_table td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1em;
}