html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background-color: rgb(240, 240, 240);

}
h1 {
    margin-top: 8vh;
    font-size: 7vw;
}
h2{
    font-size: 2em;
}
button{
    cursor: pointer;
    margin-top: 1.5em;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
    transition-duration: 0.4s;
}
button:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
#t1{
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
.landing_page {
    background: #7eb4e2;
    box-shadow: 
                inset  0 -1em 1em -1em rgba(77, 112, 174, 1),
                0em 1em 2em 0.5em rgba(77, 112, 174, 1);
                
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("/images/house-540535.jpg");
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.b1 {
    position: absolute;
    left: 50%;
    top: 90%;
    animation-name: auf_ab;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    
}
@keyframes auf_ab {
    0%      {top:90%;}
    50%     {top:92%;}
    100%    {top:90%;}
}

.zimmerzeile {
    
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 5em;
    font-size: 2vh;
}

.zimmerzeile::after {
    content: "";
    display: table;
    clear: both;
}

.spalte1 {
    float: left;
    width: 40%;
    height: 100%;
    padding: 2em;

}
.anchor1 {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

.bv {
    width: 100%;
    height: auto;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.angebotszeile {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 7vh;
    font-size: 2vh;
}
.angebotszeile::after{
    content: "";
    display: table;
    clear: both;
}
.spalte2 {
    float: right;
    width: 40%;
    padding: 2em;

}
@media screen and (max-width: 700px) {
    .spalte2 {
      width: 100%;
    }
    .spalte1 {
        width: 100%;
      }
}
