html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(240, 240, 240);

}
h1 {
    margin-top: 6vh;
    font-size: 7vw;
}
h2{
    font-size: 1.7em;
}
.normaler_Text{
    color: rgb(71, 71, 71);
}
p{
    font-size: 1.2em;
    
}
button{
    cursor: pointer;
    margin-top: 1.5em;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
    transition-duration: 0.4s;
}
button:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
#t4{
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
#u_schrift{
    color:  rgba(77, 112, 174, 1);
    margin-left: 1em;
}
.zimmerzeile {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 3em;
    font-size: 2vh;
}
.zimmerzeile::after{
    content: "";
    display: table;
    clear: both;
}
.spalte1{
    margin-top: 2em;
    float: left;
    width: 40%;
    height: 100%;
    padding: 0em;
}
.spalte2{
    margin-right: 0;
    border: 0.3em solid rgba(77, 112, 174, 1);
    border-radius: 1.9em;
    float: right;
    width: 40%;
    padding: 0em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
@media screen and (max-width: 700px) {
    .spalte2 {
      width: 100%;
    }
    .spalte1 {
        width: 100%;
      }
}
iframe{
    width: 100%;
    border-radius: 1.5em;
    border-color:rgba(77, 112, 174, 1);
}
