html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url("../images/house-540535.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

h1 {
    margin-top: 6vh;
    font-size: 5vw;
    color: rgba(77, 112, 174, 1);
}

input {
    width: 100%;
    padding: 15px 32px;
    display: inline-block;
    border: none;
    border-radius: 2em;
    box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    font-size: 1em;
}

.scroll {
    display: inline-block;
    cursor: pointer;
    top: 0;
    left: 0;
    position: fixed;
    padding: 30px 30px;
}

#main-holder {
    width: 30%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 1.9em;
    border: 0.3em solid rgba(77, 112, 174, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-error-msg {
    width: 50%;
    margin: 0;
    padding: 5px;
    border: 1px solid #8a0000;
    border-radius: 1em;
    background-color: #e58f8f;
    box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
}

#error-msg-sec-line {
    display: block;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-form-submit {
    margin-top: 1.5em;
    background-color: rgba(77, 112, 174, 1);
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
}

#login-form-submit:hover {
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}
