.container {
    display: inline-block;
    cursor: pointer;
    padding: 50px 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.bar1, .bar2, .bar3 {
    width: 40px;
    height: 6px;
    margin: 6px;
    transition: 0.4s;
    background-color: black;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-10px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
}

.dropdown-menu {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    min-width: 20%;
    height: 100%;
    box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.container:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    margin-top: 55%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.7em;
    display: block;
    text-align: right;
    vertical-align: center;
    margin-top: 2vh;
    margin-right: 5vh;
}

.dropdown-content a:hover {
    color: rgba(77, 112, 174, 1);
}

button {
    cursor: pointer;
    margin-top: 1.5em;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
    transition-duration: 0.4s;
}

.login-button {
    margin-right: 5vh;
    position: relative;
    float: right;
    bottom: 0;
}

.show {
    display: block;
}



/** https://blog.hubspot.com/website/html-dropdown
*/
/*
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 400%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
*/