html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}
h1 {
    margin-top: 6vh;
    font-size: 7vw;
    margin-bottom: 0em;
}
.b2{
    cursor: pointer;
    padding: 30px 30px;
    left: 0;
    top: 0;
    display: inline-block;
    position: fixed;
}
h2{
    font-size: 1.7em;
    margin-top: 0.5em;
}
.normaler_Text{
    color: rgb(71, 71, 71);
}
p{
    font-size: 1.2em;
}
#t3{
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
#u_schrift{
    color:  rgba(77, 112, 174, 1);
    margin-left: 1em;
}
button{
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2.5em;
    border: none;
    width: 91.5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
}
button:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
    border: 2em;
    width: 94%;
    margin-top: 0.6em;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;

}
.bw1{
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2.5em;
    border: none;
    width: 91.5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
}
.bw1:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
    border: 2em;
    width: 94%;
    margin-top: 0.6em;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;

}
.bw2{
    cursor: pointer;
    margin-top: 1.5em;
    margin-left: 29%;
    margin-right: 4%;
    margin-bottom: 4%;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2.5em;
    border: none;
    width: 41.5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
}
.bw2:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
    border: 2em;
    width: 44%;
    margin-top: 1.6em;
    margin-left:27.75%;
    margin-right: 3%;
    margin-bottom: 4%;

}
[type="checkbox"]{
    display: none;
}
[type="checkbox"] + label{
        cursor: pointer;
        margin-top: 0.5em;
        margin-left: 6%;
        margin-right: 4%;
        margin-bottom: 4%;
        background-color: rgba(77, 112, 174, 1);
        border-radius: 2.5em;
        border: none;
        width: 75.5%;
        color: white;
        padding: 0.7em 1.4em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-size: 1em;
}
[type="checkbox"]:checked + label{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
    border: 2em;
    width: 78.5%;
    margin-top: 0.6em;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 4%;
}
.normaler_Text{
    margin-left: 4%;
    color: rgb(71, 71, 71);
}
.bv{
    width: 100%;
    height: auto;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
}
.zimmerzeile {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    font-size: 2vh;
}
.zimmerzeile::after{
    content: "";
    display: table;
    clear: both;
}
.spalte1{
    margin-top: 2em;
    border: 0.3em solid rgba(77, 112, 174, 1);
    border-radius: 2.3em;
    float: left;
    width: 30%;
    height: auto;
    padding: 0em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spalte2{
    margin-top: 2em;
    border: 0.3em solid rgba(77, 112, 174, 1);
    border-radius: 2.3em;
    float: left;
    margin-left: 3.5%;
    height: auto;
    width: 30%;
    padding: 0em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spalte3{
    margin-top: 2em;
    float: right;
    border: 0.3em solid rgba(77, 112, 174, 1);
    border-radius: 2.3em;
    width: 30%;
    padding: 0em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 700px) {
    .spalte1 {
      width: 100%;
      
    }
    .spalte2 {
        width: 100%;
        margin-left: 0%;
    }
    .spalte3 {
        width: 100%;
        float: left;
    }
    [type="checkbox"] + label{
        margin-left: 7.5%;
    }
    [type="checkbox"]:checked + label{
        margin-left: 6%;
    }
}