html{
    min-height: 120%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 120%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}
h1 {
    
    text-align: center;
    margin-top: 3vh;
    font-size: 4vw;
}
.b2{
    cursor: pointer;
    padding: 30px 30px;
    left: 0;
    top: 0;
    display: inline-block;
    position: fixed;
}
.scroll{
    top: 0;
    position: sticky;
    background: rgb(240, 240, 240, 0.7);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
h2{
    font-size: 1.7em;
}
.normaler_Text{
    text-align: justify;
    margin-top: 3em;
    color: rgb(71, 71, 71);
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}
p{
    font-size: 1.2em;
    
}
button{
    cursor: pointer;
    margin-top: 1.5em;
    width: 100%;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
    transition-duration: 0.4s;
}
.b1{
    margin-bottom: 2em;
    margin-top: 2em;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
button:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
#t2{
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
#u_schrift{
    color:  rgba(77, 112, 174, 1);
    margin-left: 1em;
}
.bv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.zimmertabelle_cont{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.zimmer1tab{
    border-collapse: collapse;
    width: 100%;
}
.zimmer1tab td, .zimmer1tab th {

    text-align: center;
    border: 1px solid #ddd;
    padding: 1em;
}
.zimmer1tab th {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(77, 112, 174, 1);
    color: white;
}
.zimmer1tab tr{
    text-align: center;
    font-size: 1.3em;
    color: rgb(71, 71, 71);
}

  
  
