html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);

}
#u_schrift{
    color:  rgba(77, 112, 174, 1);
    margin-left: 2em;
    margin-top: 3vh;
    font-size: 6vw;
    justify-items: left;
    align-content: left;
    }
h1 {
    margin-top: 8vh;
    font-size: 7vw;
}
h2{
    font-size: 2em;
}
.normaler_Text{
    font-size: 1.5em;
    color: rgb(71, 71, 71);
}
input{
    font-size: 1em;
}
.b2{
    cursor: pointer;
    padding: 30px 30px;
    left: 0;
    top: 0;
    display: inline-block;
    position: fixed;
}
button{
    cursor: pointer;
    margin-top: 1.5em;
    background-color: rgba(77, 112, 174, 1);
    border-radius: 2em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
    transition-duration: 0.4s;
}
button:hover{
    background-color: white;
    color: rgba(77, 112, 174, 1);
    font-weight: bold;
}
.landing_page {
    background: #7eb4e2;
    box-shadow: 
                inset  0 -1em 1em -1em rgba(77, 112, 174, 1),
                0em 1em 2em 0.5em rgba(77, 112, 174, 1);
                
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("/images/house-540535.jpg");
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: x-large;
    
}
.b1{
    margin-bottom: 2em;
    margin-top: 4em;
    width: 65%;
    margin-left: 17.5%;
    margin-right: auto;
}
.zimmerzeile {
    
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 1em;
    font-size: 2vh;
}
.zimmerzeile::after{
    content: "";
    display: table;
    clear: both;
}
.spalte1{
    margin-top: 1em;
    float: left;
    width: 40%;
    height: 100%;
    padding: 0em;

}
.bv{
    width: 100%;
    height: auto;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spalte2{
    float: right;
    width: 40%;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    border: 0.3em solid rgba(77, 112, 174, 1);
    border-radius: 2.3em;
    margin-left: 3.5%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media screen and (max-width: 700px) {
    .spalte2 {
        width: 80%;
        left: 20%;
    }
    .spalte1 {
        margin-top: 3em;
        width: 100%;
        float: right;
      }
}